<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__box">
				<h5 class="footer__title">
					покупателю
				</h5>

				<button class="footer__btn">покупателю</button>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link" href="#">Публичная оферта</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Политика конфиденциальности</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Акции и скидки</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Гарантии качества</a>
					</li>
				</ul>
			</div>

			<div class="footer__box">
				<h5 class="footer__title">
					полезное
				</h5>

				<button class="footer__btn">полезное</button>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link" href="#">Оплата услуг</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#calculator">Калькулятор цен</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Материалы</a>
					</li>
				</ul>
			</div>

			<div class="footer__box">
				<h5 class="footer__title">
					Компания
				</h5>

				<button class="footer__btn">Компания</button>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link" href="#">О компании</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Новости</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Отзывы</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Контакты</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">Производство</a>
					</li>
				</ul>
			</div>

			<div class="footer__box">
				<h5 class="footer__title">КОНТАКТЫ</h5>

				<button class="footer__btn">КОНТАКТЫ</button>

				<dl class="footer__list">
					<div>
						<dt class="footer__subtitle">Главный офис</dt>
						<dd class="footer__text">г. Тюмень, ул. Рационализаторов, дом 20, стр. 1</dd>
					</div>

					<div>
						<dt class="footer__subtitle">Телефон</dt>
						<dd>
							<a class="footer__link" href="tel:+79899009090">+7 (989) 900-90-90</a>
						</dd>
					</div>

					<div>
						<dt class="footer__subtitle">Почта</dt>
						<dd>
							<a class="footer__link" href="mailto:infome@astroy.ru">infome@astroy.ru</a>
						</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="footer__copy">
			© 2005-2023 А.СТРОЙ. Все права защищены.
		</div>
	</div>
</footer>