::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-left: 1px solid var(--color-primary-25);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-primary-light);
}

html {
	font-size: 20px;

	scrollbar-color: var(--color-primary) transparent;
	scrollbar-width: thin;
}

body {
	color: var(--color-primary);
	font: var(--font-size-text) / 1.4 "Gilroy";
	font-weight: 300;
}

.loaded {
	overflow: unset;
}

.mainbox {
	min-height: 100%;
	min-width: 300px;
	display: flex;
	flex-direction: column;

	&__top {
		@extend %trans-fast;

		padding: 14px 11px 10px;

		position: fixed;
		bottom: 80px;
		right: 40px;
		z-index: 11000;

		border: 2px solid var(--color-primary-50);
		border-radius: 5px;

		opacity: 0;
		visibility: hidden;

		&--visible {
			opacity: 1;
			visibility: visible;
		}
	}

	&__top-icon {
		transform: rotate(180deg);

		rect {
			@extend %trans-fast;

			fill: var(--color-primary);
		}
	}
}

main {
	flex-grow: 1;
	overflow-x: hidden;
}

.pinned {
	overflow-y: hidden;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;

	&--w1000 {
		max-width: 1030px;
	}
}

.social {
	display: flex;
	align-items: center;
	gap: 20px;

	&__list {
		display: flex;
		gap: 16px;
	}

	&__item {
		position: relative;
	}

	&__link {
		position: relative;

		&::after {
			content: "";
			width: 150%;
			height: 150%;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}

	&__icon {
		@extend %trans-fast;

		display: block;
	}

	&__descr {
		@extend %trans-fast;

		padding: 2px 4px;

		position: absolute;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);

		font-size: 0.8rem;
		font-weight: 500;

		background-color: var(--color-secondary-light);
		border-radius: 5px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		&::after {
			content: "";
			width: 10px;
			height: 10px;

			position: absolute;
			bottom: -16px;
			left: 50%;
			transform: translateX(-50%);

			border: 10px solid var(--color-secondary-light);
			border-color: var(--color-secondary-light) transparent transparent transparent;
		}
	}
}

.btn {
	@include appear-down(0.2s);

	display: inline-block;
	padding: 20px 30px;

	position: relative;
	bottom: 0;

	font-size: 0.8rem;
	font-weight: 500;
	color: var(--color-primary);
	text-transform: uppercase;

	&::before {
		content: "";
		width: 100%;
		height: 100%;

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: $layer-2;

		background: linear-gradient(145deg, #ffc771, #ffc858);
		box-shadow: inset 0 2px 15px rgba(255, 255, 255, 0.2);
		border-radius: 10px;

		transition: all 0.2s ease;
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;

		position: absolute;
		bottom: -6px;
		left: 0;
		z-index: $layer-1;

		background: linear-gradient(90deg, rgba(131, 94, 19, 0.36) 10%, rgba(131, 94, 19, 0.1)),
			linear-gradient(145deg, #ffc771, #ffc858);
		border-radius: 10px;

		transition: all 0.2s ease;
	}

	&__text {
		position: relative;
		z-index: $layer-2;
	}

	&__inner {
		width: 100%;
		height: 100%;

		position: absolute;
		left: 0;
		top: 0;
		z-index: $layer-2;

		overflow: hidden;

		&::before {
			content: "";
			width: 20px;
			height: 80%;

			position: absolute;
			top: 50%;
			left: -10px;
			transform: rotate(45deg) translateY(-70%);
			transform-origin: center;

			transition: all 0.7s ease;

			background-color: rgba(255, 255, 255, 0.4);
			filter: blur(15px);

			pointer-events: none;
		}
	}
}

.parallax {
	@include appear-scale;
}

.input-wrapper {
	@extend %trans-fast;

	position: relative;

	margin-bottom: 20px;
	padding-top: 24px;

	&::after {
		@extend %trans-fast;

		content: "";
		width: 100%;
		height: 1px;

		position: absolute;
		bottom: 0;
		left: 0;

		background-color: var(--color-grey);
	}

	&:last-of-type {
		margin-bottom: calc(var(--margin-element) * 1.5);
	}
}

.alert {
	height: 20px;
	margin-top: 20px;

	font-size: .8rem;
	text-align: center;

	&--send {
		color: green;
	}

	&--error {
		color: red;
	}
}

.input {
	width: 100%;
	margin-bottom: 10px;

	position: relative;

	&:focus {
		outline: none;
	}
}

.error {
	color: red;

	&::after {
		background-color: red;
	}
}

.textarea {
	@extend %trans-fast;

	width: 100%;
	height: 24px;
	min-height: 24px;
	max-height: 160px;
	margin-bottom: 6px;

	resize: vertical;

	&:focus {
		transition: none;
		min-height: 80px;
		outline: none;
	}
}

.label {
	@extend %trans-fast;

	position: absolute;
	top: 22px;
	left: 0;

	color: var(--color-grey-dark);

	pointer-events: none;

	&--active {
		font-size: 0.7rem;
		top: 0;
		bottom: auto;
	}
}

.input.phone {
	@extend %trans-fast;

	opacity: 0;

	&--active {
		opacity: 1;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	gap: 20px;

	position: absolute;
	left: 50%;
	bottom: 36px;
	transform: translateX(-50%);

	li {
		&.slick-active {
			button {
				background-color: var(--color-primary);
			}
		}
	}

	button {
		@extend %trans;

		width: 16px;
		height: 16px;

		border-radius: 5px;
		background-color: var(--color-secondary-light);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

		font-size: 0;
	}
}

.modal {
	@extend %trans;

	width: 100%;
	height: 100vh;

	position: fixed;
	z-index: 100000;

	background-color: rgba(0, 0, 0, 0.5);

	opacity: 0;
	visibility: hidden;

	&--visible {
		opacity: 1;
		visibility: visible;

		& .modal__content {
			transform: translate(-50%, -50%);

			opacity: 1;
			visibility: visible;
		}
	}

	&__content {
		@extend %trans-fast;

		width: 100%;
		max-width: 600px;
		max-height: 100vh;
		padding: 40px;

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(0.6);

		border-radius: 10px;
		background-color: white;

		opacity: 0;
		visibility: hidden;
	}

	&__title {
		max-width: 350px;
		margin: 0 auto 10px;

		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
	}

	&__text {
		max-width: 350px;
		margin: 0 auto 25px;

		font-size: 0.75rem;
		font-weight: 400;
		color: #373737;
		text-align: center;
	}

	&__close {
		@extend %trans;

		position: absolute;
		right: 16px;
		top: 16px;
		transform: rotate(45deg);
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	&__box {
		min-height: 350px;
		width: 100%;
		max-width: 600px;
	}

	&__input {
		width: 100%;
	}
}

/* MEDIA
***************************************/

@media (hover: hover) and (pointer: fine) {
	.btn {
		&:active {
			bottom: -3px;

			&::after {
				bottom: -2px;
			}
		}
	}

	.btn:hover .btn__inner::before {
		width: 40px;

		left: 85%;

		background-color: rgba(255, 255, 255, 0.9);
		filter: blur(25px);
	}

	.social__link {
		&:hover .social__icon {
			transform: scale(1.1);
		}

		&:hover + .social__descr {
			top: -36px;

			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	.slick-dots li:hover {
		button {
			background-color: var(--color-secondary);
		}

		&.slick-active {
			button {
				background-color: var(--color-primary);
			}
		}
	}

	.input:hover + .label,
	.textarea:hover + .label {
		color: var(--color-primary);
	}

	.modal__close:hover {
		transform: rotate(225deg);
	}

	.mainbox__top:hover {
		border: 2px solid var(--color-primary);
		border-radius: 5px;
		background-color: var(--color-primary);
	}

	.mainbox__top:hover .mainbox__top-icon {
		rect {
			fill: white;
		}
	}
}

@include media(1400px) {
	.mainbox__top {
		display: none;
	}
}

@include xl {
	:root {
		--margin-section: 100px;
		--margin-element: 20px;
	}
}

@include md {
	:root {
		--margin-section: 50px;
	}

	.modal__content {
		max-width: none;
		height: 100vh;

		border-radius: 0;
	}
}

@include media(600px) {
	:root {
		--font-size-title: 1.6rem;
		--font-size-subtitle: 1rem;
		--font-size-text: 0.9rem;
		--font-size-title-2: 1rem;
		--font-size-title-3: 1.2rem;
	}
}

@media (max-height: 620px) {
	.modal__content {
		max-width: none;
		height: 100vh;

		border-radius: 0;
	}
}
